name: Deploy Bahari

# WICHTIG: Die Zeilen unter 'on:' muessen eingerueckt sein
on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "20"
                  cache: "npm"
                  cache-dependency-path: "./package-lock.json"

            - name: Install dependencies & Build
              env:
                  SITE_URL: ${{ secrets.SITE_URL }}
              run: |
                  npm ci
                  npm run build

            - name: FTP Deploy
              uses: SamKirkland/FTP-Deploy-Action@v4.3.4
              with:
                  server: ${{ secrets.FTP_SERVER }}
                  username: ${{ secrets.FTP_USERNAME }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  port: 21
                  protocol: ftp
                  server-dir: /dev/
                  local-dir: ./dist/
                  dangerous-clean-slate: true
